wslu/
user-dirs.dirs
user-dirs.locale
gnome-initial-setup-done
BetterDiscord\ Installer/
monitors.xml
monitors.xml~
dconf/
enchant/
touchegg/
.gsd-keyboard.settings-ported
ibus/
pulse/
discord/
spotify/
