wslu/
gnome-initial-setup-done
monitors.xml
monitors.xml~
mimeapps.list
pavucontrol.ini
touchegg/
.gsd-keyboard.settings-ported
ibus/
pulse/
systemd/
eog/
evolution/

# Privacy

goa-1.0/
user-dirs.dirs
user-dirs.locale

# Gnome apps

nautilus/
dconf/
gedit/
gnome-control-center/
qalculate/
evince/
enchant/

# Installed apps

discord/
spotify/
BetterDiscord\ Installer/
spicetify/
notion-app-enhanced/
Code/
!Code/
Code/*
!Code/User/
Code/User/*
!Code/User/settings.json
libreoffice/

# Window Managers

gtk-*/

# System Config Files
